{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manago Admin</title>
                 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
                 <link href="{% static 'css/admin_entries.css' %}" rel="stylesheet">
       
                    
                </head>
<body class="body">
<button onclick="window.location.replace('/Manago')" style="float: right;">Logout</button>
                <center>


<div class="cont1">
<p>Welcome Admin                     
</p>
<br>
<br>
<br>
<button id="clientform_click" href="#">Add Client</button>
<br>
<button id="developerform_click" href="#">Add Developer</button>
</div>


<div id="clientform">
    <fieldset style="width:40%">
<legend>
Enter Details
</legend> 
<form method="POST" action="/client_verify/" name="clientf"> 
Name <br>
<input type="text" name="name" size="40"/><br> 
Number <br>
<input type="number" name="number" size="40"/><br> 
Email <br>
<input type="text" name="email" size="40"/><br> 
Project ID(or Name) <br>
<input type="text" name="pro_id" size="40"/><br> 
Project Deadline <br>
<input type="text" name="pro_deadline" size="40"/><br> 

<input id="button" type="submit" name="submit-client" value="Save Details" /> 
</form> 
</fieldset> 
</div>



<div id="developerform">
    <fieldset style="width:40%">
<legend>
Enter Details
</legend> 
<form method="POST" action="/developer_verify/" name="developf"> 
Name <br>
<input type="text" name="dname" size="40"/><br> 
Number <br>
<input type="number" name="dnumber" size="40"/><br> 
Email <br>
<input type="text" name="demail" size="40"/><br> 
Team ID(or Name) <br>
<input type="text" name="dteam_id" size="40"/><br> 

Role <br>
 <select>
  <option value="tlead" name="drole">Team Leader</option>
  <option value="sdev" name="drole">Senior Developer</option>
  <option value="tmemb" name="drole">Developer</option>
</select> 
<br>
Project ID(or Name) <br>
<input type="text" name="dpro_id" size="40"/><br> 

<input id="button" type="submit" name="submit-developer" value="Save Details" /> 
</form> 
</fieldset> 
</div>
</center>

  <script src = "{% static 'js/jquery.min.js' %}"></script>
  <script src = "{% static 'js/bootstrap.min.js' %}"></script>
  <script src = "{% static 'js/admin_entries.js' %}"></script>
                 
            </body>
        </html>